<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://pagesdialect.sourceforge.net">
<head>
    <title>Articles</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button class="btn btn-md btn-warning btn-block" type="submit">Выйти</button>
</form>
<div class="container" style="margin-top: 50px; margin-bottom: 50px">

    <h2 align="center">  Статьи   </h2>
    <table class="table table-hover">
    <tr> <td>Номер</td>
        <td>Глава</td>
        <td>Название</td>
        <td>Информация</td>
        <td></td>
        <td></td></tr>
        <tr th:each="a : ${articles}">
            <td th:text="${a.number}">&nbsp;</td>
            <td th:text="${a.section}">&nbsp;</td>
            <td th:text="${a.title}">&nbsp;</td>
            <td th:text="${a.text}">&nbsp;</td>
            <td>
                <a th:href="@{${a.idArticle}+'/editArticle'}">Редактировать</a>
            </td>
            <td>
                <a th:href="@{${a.idArticle}+'/deleteArticle'}">Удалить</a>
            </td>
        </tr>
    </table>
    <form th:action="@{/addArticle}" method="get" style="margin-bottom: 50px">
        <button class="btn btn-md btn-warning btn-block" type="submit">Добавить</button>
    </form>
</div>

</body>
</html>