<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Регистрация</button>
</form>

<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 align="center">Добро пожаловать</h3>
        <br/>
        <input type="text" id="login" name="login" th:placeholder="login"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Некоторые поля были введены неверно, пожалуйста, исправьте их</p>
        </div>
        <button class="btn btn-lg btn-info btn-block" name="Submit" value="Login" type="Submit">Вход</button>
    </form>
</div>
</body>
</html>
