<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Вход</button>
</form>
<div class="container">
    <h2 align="center">Регистрация</h2>
    <form autocomplete="off" action="#" th:action="@{/registration}"
          th:object="${user}" method="post" class="form-horizontal"
          role="form">
        <div class="form-group">
            <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                   class="validation-message"></label>
            <input type="text" th:field="*{login}" placeholder="login"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="validation-message"></label>
            <input type="password" th:field="*{password}"
                   placeholder="password" class="form-control"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">Зарегистрировать</button>
        </div>
        <span th:utext="${successMessage}"></span>
    </form>
</div>
</body>
</html>
